{% extends "base.html" %}

{% block content %}
<div class="help-content">
    <h2>Hilfe & Unterstützung</h2>
    <p>Wenn Sie Unterstützung benötigen oder Fragen haben, stehen Ihnen folgende Möglichkeiten zur Verfügung:</p>
    <ul>
        <li>Kontaktieren Sie den Webmaster per E-Mail: <a href="mailto:webmaster@endo-reg.net">webmaster@endo-reg.net</a></li>
        <li>Ticket einreichen: <em>Derzeit im Aufbau</em></li>
        <li>Finden Sie die aktuellsten Dokumentationen und Informationen, indem Sie sich unter <a href="https://home.endo-reg.net/user/my-center" target="_blank">home.endo-reg.net/user/my-center</a> einloggen</li>
    </ul>
</div>
{% endblock content %}
